<launch>
    <arg name="use_sim_time" default="false" />
    <param name="/use_sim_time" value="$(arg use_sim_time)" />
    <arg name="pcd_file" default="/home/orangepi/Documents/rospcd/dianguang-floor1-1-good_downsampled_downsampled.pcd"/>
    <arg name="global_Odometry" default="/localization"/>
    <arg name="local_Odometry" default="/Odometry"/>


    <!-- global locatization main -->
    <arg name="map_voxel_size" default="0.2" />
    <arg name="scan_voxel_size" default="0.1" />
    <arg name="freq_localization" default="2.0" />
    <arg name="localization_th" default="0.96" />
    <arg name="fov" default="6.28" />
    <arg name="fov_far" default="10.0" />
    <arg name="map_in_topic" default="/map" />

    <node pkg="uav_location" type="fast_lio_localization" name="fast_lio_localization" output="screen" >
        <param name="map_voxel_size" value="$(arg map_voxel_size)" />
        <param name="scan_voxel_size" value="$(arg scan_voxel_size)" />
        <param name="freq_localization" value="$(arg freq_localization)" />
        <param name="localization_th" value="$(arg localization_th)" />
        <param name="fov" value="$(arg fov)" />
        <param name="fov_far" value="$(arg fov_far)" />
        <param name="map_in_topic" value="$(arg map_in_topic)" />
    </node>


    <!-- provide a estimate pose for global locatization -->
    <arg name="init_x" default="37.0" />
    <arg name="init_y" default="0.0" />
    <arg name="init_z" default="0.0" />
    <arg name="init_roll" default="0.0" />
    <arg name="init_pitch" default="0.0" />
    <arg name="init_yaw" default="0.0" />

    <node pkg="uav_location" type="publish_initial_pose" name="publish_initial_pose" output="screen" 
        args="$(arg init_x) $(arg init_y) $(arg init_z) $(arg init_roll) $(arg init_pitch) $(arg init_yaw) " />


    <!-- global locatization utils for global init pose and pubing global location -->
    <arg name="global_locatiation_hz" default="30.0" />
    <param name="takeoff_height" value="0.6" />

    <node pkg="uav_location" type="transform_fusion" name="transform_fusion" output="screen" >
        <param name="global_locatiation_hz" value="$(arg global_locatiation_hz)" />
    </node>


    <!-- local Odometry -->
    <include file="$(find fast_lio)/launch/mapping_mid360.launch" >
        <arg name="rviz" value="false" />
    </include>
    <param name="/pcd_save/pcd_save_en" value="true" />


    <!-- global map -->
    <include file="$(find uav_planner)/launch/octomap_publisher.launch" >
        <arg name="pcd_file" value="$(arg pcd_file)"/>
    </include>


    <!-- global planner main -->
    <arg name="octomap_topic" default="/octomap_full" />
    <arg name="start_pose_topic" default="/start_pose" />
    <arg name="goal_pose_topic" default="/goal_pose" />
    <arg name="enable_obstacle_show" default="true" />
    <arg name="inflater_size" default="2" />

    <include file="$(find uav_planner)/launch/astar_planner.launch" >
        <arg name="octomap_topic" value="$(arg octomap_topic)" />
        <arg name="start_pose_topic" value="$(arg start_pose_topic)" />
        <arg name="goal_pose_topic" value="$(arg goal_pose_topic)" />
        <arg name="enable_obstacle_show" value="$(arg enable_obstacle_show)" />
        <arg name="inflater_size" value="$(arg inflater_size)" />
    </include>


    <!-- trace global odom to global path -->
    <arg name="use_smoothify" default="false" />
    <!-- smoothify_path + path_follower -->
    <group if="$(arg use_smoothify)">
        <include file="$(find uav_planner)/launch/planner_path_smoothify.launch" />
        <node pkg="uav_planner" type="path_follower" name="path_follower" output="screen">
            <param name="odom_topic" value="$(arg global_Odometry)"/>
            <param name="path_topic" value="/global_path_smoothed"/>
            <param name="goal_distance_threshold" value="0.5"/>
            <param name="path_step" value="6"/>
            <param name="publish_rate" value="10.0"/>
            <param name="lookahead_distance" value="1.5"/>
        </node>
    </group>

    <!-- simplify_path + fast_path_follower -->
    <group unless="$(arg use_smoothify)">
        <include file="$(find uav_planner)/launch/planner_path_simplify.launch" />
        <node pkg="uav_planner" type="fast_path_follower" name="fast_path_follower" output="screen">
            <param name="odom_topic" value="$(arg global_Odometry)"/>
            <param name="path_topic" value="/global_path"/>
            <param name="goal_distance_threshold" value="1.0"/>
            <param name="path_step" value="1"/>
            <param name="publish_rate" value="10.0"/>
        </node>
    </group>


    <!-- local planner main -->
    <include file="$(find ego_planner)/launch/single_run_in_exp.launch" >
        <arg name="odom_topic" value="$(arg local_Odometry)"/>
    </include>

    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 camera_init world 10" />


    <!-- mission manager main -->
    <include file="$(find uav_px4_ctrl)/launch/mission_manger.launch" >
        <arg name="odom_topic" value="$(arg global_Odometry)"/>
        <arg name="mission_cycle" value="false"/>
        <arg name="waypoints" value="[[52.0, -0.5, 1.0]*, [37.0, -0.0, 0.6]*]"/>
    </include>
    
    <include file="$(find uav_px4_ctrl)/launch/px4ctrl.launch" />

    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz_planner" 
            args="-d $(find uav_location)/rviz/global_planner.rviz" />

    <group if="$(arg use_sim_time)">
	    <node name="playbag" pkg="rosbag" type="play" args="--clock /mnt/nvme/rosbag/dianguang-floor1-1.bag -r 1 -s 30" />
	</group>
</launch>
